<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation Portal</title>
</head>
<body>

<h3>Student Confirmation Portal</h3>

The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}" />

<br><br>

Country: <span th:text="${student.country}" />

<br><br>

Favorite Programming Language: <span th:text="${student.favoriteLanguage}" />

<br><br>

Favorite Operating Systems:

<ul>
    <li th:each="tempSystem : ${student.favoriteSystem}" th:text="${tempSystem}" />
</ul>

</body>
</html>